.main {
    display: flex;
    align-items: flex-start;
    padding: 0 20px;
    overflow-y: auto;
}

.labs {
    margin-top: 30px;
}

.lab {
    display: flex;
    padding: 15px 20px 30px;
}

.lab_title {
    font-size: 20px;
    font-weight: bold;
}

.description {
    display: inline-block;
    text-decoration: underline;
    margin-left: 5px;
}

.lab:not(:first-child) {
    margin-top: 20px;
}

.lab_description {
    padding: 5px 10px 8px 10px;
}

.task_description {
    padding: 3px 8px 5px 8px;
}

.lab_tasks {
    margin-left: 20px;
    margin-top: 5px;
}

.lab_task:not(:first-child) {
    margin-top: 15px;
}

.task_link {
    display: flex;
}

.task_link:hover {
    color: rgb(125, 131, 255);
}

.task_icon {
    transform: rotate(90deg);
    margin-right: 5px;
}
